In [80]:
import numpy as np
import pandas as pd

In [81]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

In [82]:
df = pd.read_csv('fish_tissues.csv')

In [83]:
# Me (mg/kg dw)

In [84]:
df.head()

,Species,Season,Organ,Fish weight (g),Fish length (cm),Al,As,Cd,Cr,Cu,Fe,Mn,Pb,Sb,Se,Sr,Zn
0,Oreochromis mossambicus,Summer,Liver,149.57,20.3,298.34,1.4807,0.8742,3.5867,432.91,1261.0,14.5030,0.8226,0.1626,7.4810,0.7701,72.195
1,Oreochromis mossambicus,Summer,Liver,119.85,18.1,245.37,NaN,1.4131,NaN,732.32,1314.8,23.1480,4.0840,0.5853,17.2130,2.1098,99.404
2,Oreochromis mossambicus,Summer,Liver,139.33,19.9,237.57,3.8825,2.0186,NaN,584.05,1498.8,26.2010,2.1463,2.5697,29.8360,2.5571,73.702
3,Oreochromis mossambicus,Summer,Liver,749.73,35.5,721.51,4.3970,3.9979,0.7958,1045.40,3676.0,30.4660,1.6432,1.4461,24.6410,0.8957,73.003
4,Oreochromis mossambicus,Summer,Liver,648.80,33.5,387.25,0.7793,0.3203,NaN,225.92,1099.5,9.8959,0.5223,0.1447,4.8986,0.3194,31.974

In [ ]:
df [df['']]